<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Живые традиции</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar justify-content-between navbar-light">
            <a class="navbar-brand" href="/">
                <img width="30" height="30" class="d-inline-block align-top" src="~/icons/cookbook.png"/>
            </a>
            <a class="disabled-link text-dark" href="/">
                <span class="h3">Живые традиции</span>
            </a>
            <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">
                <strong>Администрирование</strong>
            </a>
            <form asp-controller="Search" asp-action="SearchRecipes" class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Найти рецепт" aria-label="Поисковик" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
            </form>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Живые Традиции -
            <a href="https://github.com/mekk1t/KitBook">GitHub</a> -
            <a href="https://vk.com/mekk1t">Автор</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/autosize.min.js"></script>
    <script src="~/js/ingredients.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
