<!DOCTYPE html>
<html>
<head>
    <link href="C:\Users\admin\Documents\HTML\MyWebsite\css\HomePage_2.css" rel="stylesheet" />
    <title>Main Page</title>
</head>
<body>
    <h1>
        MEKK1T CLUB
    </h1>
    <h2>
        <a href="https://github.com/mekk1t">GitHub</a> | <a href="https://vk.com/mekk1t">VK</a>
    </h2>
</body>
</html>
