@model KK.Cookbook.Models.DTO.RecipeDto

@{
    ViewData["Title"] = "Создание нового рецепта";
}

<h4>Новый рецепт</h4>
<h5><i>Надо настроить выбор данных из выпадающего списка типов</i></h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Recipe" asp-action="CreateNewRecipe" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <i>Время готовки</i>
                <div class="form-group">
                    <label asp-for="Hours" class="control-label"></label>
                    <input asp-for="Hours" class="form-control" />
                    <span asp-validation-for="Hours" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Minutes" class="control-label"></label>
                    <input asp-for="Minutes" class="form-control" />
                    <span asp-validation-for="Minutes" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CookingType" class="control-label"></label>
                <input asp-for="CookingType" class="form-control" />
                <span asp-validation-for="CookingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DishType" class="control-label"></label>
                <input asp-for="DishType" class="form-control" />
                <span asp-validation-for="DishType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeType" class="control-label"></label>
                <input asp-for="RecipeType" class="form-control" />
                <span asp-validation-for="RecipeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceURL" class="control-label"></label>
                <input asp-for="SourceURL" class="form-control" />
                <span asp-validation-for="SourceURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
