@model TypeViewModel

@{
    ViewData["Title"] = "Детали";
}

<h1>О типе ингредиентов "@Model.Name"</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Put@(Model.KindOfType)" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Get@(Model.KindOfType)s">К списку</a>
</div>
