<div>
    <a asp-action="GetRecipeTypes">Типы рецептов</a> |
    <a asp-action="GetCookingTypes">Типы готовки</a> |
    <a asp-action="GetDishTypes">Виды блюд</a> |
    <a asp-action="GetIngredientTypes">Виды ингредиентов</a>
</div>