<div>
    <a asp-controller="Recipe" asp-action="GetRecipes">Рецепты</a>
    <a asp-controller="Ingredient" asp-action="GetIngredients">Ингредиенты</a>
    <a asp-controller="Types" asp-action="Index">Категории</a>
</div>