<div class="container">
    <div class="row">
        <div class="col">
            <h5>Рецепты</h5>
            <ul>
                <li>
                    <a asp-controller="Recipe" asp-action="PostRecipe" class="btn btn-outline-primary">Добавить новый</a>
                </li>
                <li>
                    <a asp-action="GetRecipesAdmin" class="btn btn-info">Список</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <h5>Ингредиенты</h5>
            <ul>
                <li>
                    <a asp-controller="Ingredient" asp-action="PostIngredient" class="btn btn-outline-primary">Добавить новый</a>
                </li>
                <li>
                    <a asp-action="GetIngredientsAdmin" class="btn btn-info">Список</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <button id="#btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Категории
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" asp-controller="Types" asp-action="GetRecipeTypesAdmin">Типы рецептов</a>
                <a class="dropdown-item" asp-controller="Types" asp-action="GetCookingTypesAdmin">Способы приготовления</a>
                <a class="dropdown-item" asp-controller="Types" asp-action="GetDishTypesAdmin">Типы блюд</a>
                <a class="dropdown-item" asp-controller="Types" asp-action="GetIngredientTypesAdmin">Виды ингредиентов</a>
            </div>
        </div>
    </div>
</div>